<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/gioithieu1.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Rạp Chiếu Phim Quốc Gia</title>
</head>
<body>
      </head>

  <body style="height: 5000px">
    <header class="header fixed">
      <div class="main-content">
        <div class="body">
          <a href="./home.html"><img src="../static/bg/logoweb.jpg.webp" alt="Logo rạp" class="logo" /></a>
          <div class="logo-text">
            NATIONAL<br />
            CINEMA<br />
            CENTER
          </div>

          <nav class="nav">
            <ul class="nav-menu">
              <li><a href="../templates/home.html" >Trang Chủ</a></li>
              <li><a href="../templates/calendar.html" >Lịch Chiếu</a></li>
              <li><a href="#" class="active">Giới Thiệu</a></li>
            </ul>
          </nav>

          <div class="action">
            <a href="./login.html" class="btn btn2">Đăng Nhập</a>
            <a href="./signup.html" class="btn btn1">Đăng Kí</a>
          </div>
        </div>
      </div>
    </header>
    <!-- Phần Content Infor -->
     <div class="gioithieu">
      <h3 class="h3-gioithieu">Giới Thiệu</h3>
     </div>
     <div class="menu-gioithieu">
      <li><a href="#" class="active">Giới Thiệu</a></li>
      <li><a href="#">Dịch Vụ</a></li>
      <li><a href="#">Phòng Chiếu-Nhà Hát</a></li>
     </div>
     <div class="content-gioithieu">
      <p>Trung tâm Chiếu phim Quốc gia (tên giao dịch quốc tế là National Cinema Center) là đơn vị sự nghiệp công lập, trực thuộc Bộ Văn hóa, Thể thao và Du lịch, có chức năng tổ chức chiếu phim phục vụ các nhiệm vụ chính trị, xã hội, hợp tác quốc tế; trưng bày điện ảnh; điều tra xã hội học về nhu cầu khán giả để phục vụ cho công tác định hướng phát triển ngành điện ảnh.</p>
      <pre class="infor-gioithieu">Ngày thành lập: 29/12/1997

          Trụ sở: 87 Láng Hạ, Phường Ô Chợ Dừa, Thành phố Hà Nội.

          Website: www.chieuphimquocgia.com.vn

          Email: pdichvuncc@gmail.com

          Số điện thoại: 024.3514 1791 / 024.3514 8647</pre>
    </div>
    <div class="pic-gioithieu">
      <img src="../static/bg/gthieu.1" alt="Giới Thiệu">
    </div>
    <div class="structure-gioithieu">
      <h3 class="content-structure-gioithieu">Bộ Máy Tổ Chức Của Trung Tâm Chiếu Phim Quốc Gia</h3>
    </div>
    <div class="img-structure-gioithieu"><img src="../static/bg/gioithieu-structure" alt=""></div>

</body>
</html>