{%extends "base_user.html"%} {%block css%}
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />

<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/showtime.css')}}"
/>

{%endblock%} {%block nav%}
<li><a href="{{ url_for('menu.homepage') }}">Trang Chủ</a></li>
<li><a href="{{ url_for('menu.showtime') }}" class="active">Lịch Chiếu</a></li>
<li><a href="{{ url_for('menu.intro') }}">Giới Thiệu</a></li>
{%endblock%} {%block content%}
<div class="surround_film">
  {%for movie in movies%}
  <div
    class="inf_film"
    onclick="window.location.href='{{ url_for('menu.film_shln') }}' "
  >
    <div class="left">
      <a href="{{ url_for('menu.film_shln') }}"
        ><img src="{{ url_for('static', filename=movie.img_url) }}" alt=""
      /></a>
    </div>
    <div class="right">
      <div class="blur">
        <p>{{movie.genre}}</p>
        <p>{{movie.duration}} phút</p>
      </div>
      <h3>{{movie.title}}</h3>
      <p class="white">Xuất xứ : {{movie.origin}}</p>
      <p class="white">Khởi chiếu : {{movie.date}}</p>
      <p class="red">
        T{{movie.age}}- Phim được phổ biến đến người xem từ {{movie.age}} tuổi
        trở lên({{movie.age}}+)
      </p>
      <h4>Lịch chiếu</h4>
      <div class="btn_showtime">
        <button>{{movie.showtime}}</button>
      </div>
    </div>
  </div>
  {%endfor%}

  <div class="inf_film">
    <div class="left">
      <a href="{{ url_for('menu.film_shln') }}"
        ><img src="../static/bg/img.png" alt=""
      /></a>
    </div>
    <div class="right">
      <div class="blur">
        <p>Tâm lý, tình cảm</p>
        <p>101 phút</p>
      </div>
      <h3>Tài-T16</h3>
      <p class="white">Xuất xứ : Việt Nam</p>
      <p class="white">Khởi chiếu : Việt Nam</p>
      <p class="red">
        T16- Phim được phổ biến đến người xem từ 16 tuổi trở lên(16+)
      </p>
      <h4>Lịch chiếu</h4>
      <div class="btn_showtime">
        <button>20:00</button>
        <button>20:30</button>
        <button>20:35</button>
        <button>21:20</button>
        <button>21:50</button>
        <button>22:25</button>
        <button>23:10</button>
      </div>
    </div>
  </div>

  <div class="inf_film">
    <div class="left">
      <a href="{{ url_for('menu.film_shln') }}"
        ><img src="../static/bg/img.png" alt=""
      /></a>
    </div>
    <div class="right">
      <div class="blur">
        <p>Tâm lý, tình cảm</p>
        <p>101 phút</p>
      </div>
      <h3>Tài-T16</h3>
      <p class="white">Xuất xứ : Việt Nam</p>
      <p class="white">Khởi chiếu : Việt Nam</p>
      <p class="red">
        T16- Phim được phổ biến đến người xem từ 16 tuổi trở lên(16+)
      </p>
      <h4>Lịch chiếu</h4>
      <div class="btn_showtime">
        <button>20:00</button>
        <button>20:30</button>
        <button>20:35</button>
        <button>21:20</button>
        <button>21:50</button>
        <button>22:25</button>
        <button>23:10</button>
      </div>
    </div>
  </div>
  <div class="inf_film">
    <div class="left">
      <a href="{{ url_for('menu.film_shln') }}"
        ><img src="../static/bg/img.png" alt=""
      /></a>
    </div>
    <div class="right">
      <div class="blur">
        <p>Tâm lý, tình cảm</p>
        <p>101 phút</p>
      </div>
      <h3>Tài-T16</h3>
      <p class="white">Xuất xứ : Việt Nam</p>
      <p class="white">Khởi chiếu : Việt Nam</p>
      <p class="red">
        T16- Phim được phổ biến đến người xem từ 16 tuổi trở lên(16+)
      </p>
      <h4>Lịch chiếu</h4>
      <div class="btn_showtime">
        <button>20:00</button>
        <button>20:30</button>
        <button>20:35</button>
        <button>21:20</button>
        <button>21:50</button>
        <button>22:25</button>
        <button>23:10</button>
      </div>
    </div>
  </div>
</div>
{%endblock%}
