{%extends "base_user.html"%} {%block css%}
<link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />

<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/showtime.css')}}"
/>

{%endblock%} {%block nav%}
<li><a href="{{ url_for('menu.homepage') }}">Trang Chủ</a></li>
<li><a href="{{ url_for('menu.showtime') }}" class="active">Lịch Chiếu</a></li>
<li><a href="{{ url_for('menu.intro') }}">Giới Thiệu</a></li>
<li><a href="{{ url_for('menu.shop_item') }}">Vật phẩm mua kèm</a></li>

{%endblock%} {%block content%}
<div class="surround_film">
  {%for movie in movies%}
  <div
    class="inf_film"
    onclick="window.location.href='{{ url_for('menu.film_shln') }}' "
  >
    <div class="left">
      <a
        ><img src="{{ url_for('static', filename=movie.img_url) }}" alt=""
      /></a>
    </div>
    <div class="right">
      <div class="blur">
        <p>{{movie.genre}}</p>
        <p>{{movie.duration}} phút</p>
      </div>
      <h3>{{movie.title}}</h3>
      <p class="white">Xuất xứ : {{movie.origin}}</p>
      <p class="white">Khởi chiếu : {{movie.date}}</p>
      <p class="red">
        T{{movie.age}}- Phim được phổ biến đến người xem từ {{movie.age}} tuổi
        trở lên({{movie.age}}+)
      </p>
      <h4>Lịch chiếu</h4>
      <div class="btn_showtime">
        {% if movie.showtimes %} {% for slot in movie.showtimes %}
        <button
          class="btn_slot"
          data-url="{{ url_for('menu.seat', id_show_time=slot.id_show_time) }}"
        >
          {{ slot.showtime }}
        </button>
        {% endfor %} {% else %}
        <p
          class="white"
          style="font-size: 1rem; font-style: italic; color: brown"
        >
          Chưa có suất chiếu
        </p>
        {% endif %}
      </div>
    </div>
  </div>
  {%endfor%}
</div>

{%endblock%} {% block script %}
<script src="{{ url_for('static', filename='js/showtime.js') }}"></script>

{% endblock %}
