<!doctype html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/reset.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/sign_up.css" />
    <title>Đăng Kí</title>
  </head>
  <body>
    <form action="#" , method="post">
      <div class="group">
        <h2>Đăng Kí</h2>
        <div><label for="">Nhập vào email</label></div>
        <div>
          <input
            type="email"
            name="email"
            placeholder="Nhập vào email của bạn"
          />
        </div>
      </div>
      <div class="group">
        <div><label for="">Nhập vào username</label></div>
        <div>
          <input
            type="text"
            name="username"
            placeholder="Nhập vào tên của bạn"
          />
        </div>
      </div>
      <div class="group">
        <div><label for="">Nhập vào mật khẩu</label></div>
        <div>
          <input type="text" name="password" placeholder="Nhập vào mật khẩu" />
        </div>
      </div>
      <div class="group">
        <div><label for="">Kiểm tra mật khẩu</label></div>
        <div>
          <input
            type="text"
            name="check_password"
            placeholder="Nhập lại mật khẩu"
          />
        </div>
        <div class="btn"><button type="submit">Đăng ký</button></div>
      </div>
    </form>
  </body>
</html>
