<!doctype html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/reset.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/sign_up.css" />
    <title>Đăng Kí</title>
  </head>
  <body>
    <div class="pic-bg-sign-up">
      <img src="../static/bg/dki.bg.webp" alt="Ảnh BG Sign Up" />
    </div>
    <form action="#" , method="post">
      <div class="group">
        <h2 class="sign-up-button">Đăng Kí</h2>
        <div><label for="">Email</label></div>
        <div>
          <input type="email" name="email" placeholder="Email" />
        </div>
      </div>
      <div class="group">
        <div><label for="">Tên đăng nhập</label></div>
        <div>
          <input type="text" name="username" placeholder="Tên đăng nhập" />
        </div>
      </div>
      <div class="group">
        <div><label for="">Mật khẩu</label></div>
        <div>
          <input type="text" name="password" placeholder="Mật khẩu" />
        </div>
      </div>
      <div class="group">
        <div><label for="">Xác nhận mật khẩu</label></div>
        <div>
          <input
            type="text"
            name="check_password"
            placeholder="Xác nhận mật khẩu"
          />
        </div>
        <div class="btn"><button type="submit">Đăng ký</button></div>
      </div>
      <div class="link-to-log-in">
        <p class="desc-link-to-log-in">Đã Có Tài Khoản?</p>
        <a href="{{ url_for('login.login_user') }}">Đăng Nhập Ngay</a>
      </div>
    </form>
  </body>
</html>
